* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #1f1d1d;
    display: block;
    transition: 0.3s;
    font-family: incloodoFont;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar hr {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.block-one {
    width: 100%;
    height: 75vh;
}

.block-two {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.openbtn {
    width: 10%;
    height: 100%;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 7%;
    /* margin-right: 5%; */
}

.appIcon {
    width: 75px;
    height: 100%;
    background-color: #f78e72;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appIcon img {
    height: 65%;
    object-fit: scale-down;
}

.titleHeader {
    margin-left: 20px;
}

.titleHeader h2 {
    font-family: incloodoFontBold;
    font-size: 2.2em;
}

.titleHeader p {
    font-family: incloodoFont;
    font-size: 1.25em;
    text-align: center;
}

.downloadButtons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    justify-content: center;
}

.downloadButtons img {
    width: 35%;
    height: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #524e4e);
    filter: drop-shadow(5px 5px 5px #524e4e);
    margin: 15px;
}

h3 {
    font-family: incloodoFont;
    text-align: center;
}

form {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 4vw;
    text-align: center;
}

input {
    width: 300px;
    border: none;
    margin: 10px;
    padding: 10px;
}

form p {
    font-family: incloodoFont;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

form a {
    font-family: incloodoFont;
    color: black;
}

.sendButton {
    width: 80%;
    /* height: 10%; */
    border: none;
    background-color: #f78e72;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    color: whitesmoke;
    font-family: incloodoFontBold;
    font-size: 20px;
}

.imgContainer {
    width: 80%;
    height: 90%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

@media only screen and (min-width: 750px) {
    .header {
        padding-left: 11%;
        margin-bottom: 3%;
    }
    .titleHeader {
        margin-left: 5%;
    }
    .titleHeader h2 {
        font-size: 4em;
    }
    .titleHeader p {
        font-size: 2.2em;
    }
    h3 {
        font-size: 35px;
    }
    input {
        width: 600px;
        padding: 20px;
    }
    .appIcon {
        width: 110px;
        height: 90%;
    }
    form {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 950px) {
    .header {
        padding-left: 13%;
    }
    input {
        width: 800px;
        padding: 25px;
    }
    .titleHeader {
        margin-left: 7.5%;
    }
    .titleHeader h2 {
        font-size: 5.5em;
    }
    .titleHeader p {
        font-size: 2.4em;
    }
    .imgContainer img {
        object-fit: contain;
    }
}

@media only screen and (min-width: 1024px) {
    form {
        font-size: 2vw;
    }
    .downloadButtons img {
        height: 70%;
    }
    .appIcon {
        width: 135px;
    }
    .titleHeader h2 {
        font-size: 5em;
    }
    .titleHeader p {
        font-size: 1.8em;
    }
}

@media only screen and (width: 375px) and (min-height:800px) {
    .appIcon {
        height: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .appIcon {
        width: 60px;
    }
}

@font-face {
    font-family: incloodoFontBold;
    src: url(../webfont/Strawford-Bold.ttf)
}

@font-face {
    font-family: incloodoFont;
    src: url(../webfont/Strawford-Light.ttf)
}