* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.mainCnt {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space {
    height: 5%;
    width: 100%;
}






.appIcon img {
    width: 65%;
    height: 65%;
    object-fit: scale-down;
}

.title {
 
}

.title h2 {
    font-family: incloodoFontBold;
    font-size: 4vw;
}

.title p {
    font-family: incloodoFont;
    font-size: 2vw;
}


.downloadSection img {
     /* width: 47%; */
    /* height: 50%; */
    /* -webkit-filter: drop-shadow(5px 5px 5px #524e4e); */
    /* filter: drop-shadow(5px 5px 5px #524e4e);  */
}


.testAppTitle {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testAppTitle h3 {
    font-family: incloodoFont;
}

form {
    
}

form input {
    
}

input:focus {
    outline: 2px solid #f78e72;
    /* oranges! yey */
}

form p {
    font-family: incloodoFont;
}

form a {
    font-family: incloodoFont;
    color: black;
}

.iti {

}

.sendButton {
    margin-top: 5%;
    /* width: 100%; */
    /* height: 12.5%; */
    border: none;
    background-color: #f78e72;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    color: whitesmoke;
    font-family: incloodoFontBold;
    font-size: 20px;
}

.navFooter {
    width: 100%;
    /* height: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    font-family: incloodoFont;
    border-right: 1px solid black;
    cursor: pointer;
    color: #1f1d1d;
    text-align: center;
}

/* .navItem :hover {
    font-family: incloodoFontBold;
} */

.navItem a {
    text-decoration: none;
    color: #1f1d1d;
}

.lastNavItem {
    margin: 10px;
    font-family: incloodoFont;
    font-size: 1.3vw;
    color: #1f1d1d;
}

.lastNavItem :hover {
    font-family: incloodoFontBold;
}

.lastNavItem a {
    text-decoration: none;
    color: #1f1d1d;
}

@font-face {
    font-family: incloodoFontBold;
    src: url(../webfont/Strawford-Bold.ttf);
}

@font-face {
    font-family: incloodoFont;
    src: url(../webfont/Strawford-Light.ttf);
}
